@font-face {
    font-family: 'Digital-7';
    src: url('../fonts/digital-7.ttf');
}
body{
    background-color: black;
}

.digital-clock {
    background-color: #000;
    color: white;
    width: 50vw;
    justify-content: space-around;
    display: flex;
    border-radius: 2rem;
    user-select: none;
    padding: 0 2rem;
    border: 0.5rem solid grey;
}

.week {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 3rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: grey;
}

.week .active {
    color: yellow;
}

.time {
    font-family: 'Digital-7', sans-serif;
}

.min,
.hour,
.dot {
    display: inline-block;
    font-size: 13rem;
}
.dot{
    color: red;
}

.invisible {
    visibility: hidden;
}
